<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /webshop/

    # API mappa kivétele a router alól
    RewriteRule ^app/api/(.*)$ app/api/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^ index.php [L]
</IfModule>
